{% include "common/cmake_copyright.jinja" %}

{% block packages %}{% endblock -%}

set(TARGET {{ target_name }})

add_library(${TARGET} STATIC)

target_include_directories(${TARGET}
    PUBLIC
        {% for incl in extra_includes %}
        {{ incl }}
        {% endfor %}
        $<BUILD_INTERFACE:${CMAKE_CURRENT_SOURCE_DIR}/include>
        $<INSTALL_INTERFACE:include>)

target_sources(${TARGET}
    PRIVATE
        {% for f in files %}
        ${CMAKE_CURRENT_SOURCE_DIR}/{{f.get_file_path("", ".h")}}
        {% endfor %}
        {% for f in files %}
        ${CMAKE_CURRENT_SOURCE_DIR}/{{f.get_file_path("", ".cpp")}}
        {% endfor %}
    )

target_link_libraries(${TARGET}
    PUBLIC
        {% for lib in libraries %}
        {{ lib }}
        {% endfor %}
    )

if(VAF_STAND_ALONE_BUILD)
  # Install headers only if the include directory exists
  if(EXISTS "${CMAKE_CURRENT_SOURCE_DIR}/include")
      install(DIRECTORY ${CMAKE_CURRENT_SOURCE_DIR}/include/
              DESTINATION ${CMAKE_INSTALL_INCLUDEDIR})
  endif()

  # Install the library
  install(TARGETS ${TARGET}
    EXPORT ${TARGET}Targets
    ARCHIVE DESTINATION ${CMAKE_INSTALL_LIBDIR}
    LIBRARY DESTINATION ${CMAKE_INSTALL_LIBDIR}
    RUNTIME DESTINATION ${CMAKE_INSTALL_BINDIR}
    INCLUDES DESTINATION ${CMAKE_INSTALL_INCLUDEDIR}
  )

  # Export the target
  install(EXPORT ${TARGET}Targets
    FILE ${TARGET}Config.cmake
    DESTINATION ${CMAKE_INSTALL_LIBDIR}/cmake/${TARGET}
  )
endif()
