{% extends "common/cpp_file_base.jinja" %}
{% import "vaf_interface/macros.jinja" as interface with context %}

{% block includes %}
#include <cstdlib>
#include <google/protobuf/serial_arena.h>
#include <memory>

#include "vaf/internal/data_ptr_helper.h"
#include "vaf/result.h"
#include "vaf/controller_interface.h"
#include "vaf/error_domain.h"
#include "protobuf/interface/{{ module.ModuleInterfaceRef.Namespace.replace("::","/").lower()}}/{{module.ModuleInterfaceRef.Name.lower()}}/protobuf_transformer.h"
{% endblock %}

{% block content %}
{{ module.Name }}::{{ module.Name }}(vaf::Executor& executor, vaf::String name, vaf::ExecutableControllerInterface& executable_controller_interface)
  	: vaf::ControlInterface(std::move(name), {}, executable_controller_interface, executor) {
}

vaf::Result<void> {{ module.Name }}::Init() noexcept {
  return vaf::Result<void>{};
}

void {{ module.Name }}::Start() noexcept {
  const char* value = std::getenv("SILKIT_REGISTRY_URI");
  const auto registry_uri = (value != nullptr) ? std::string(value) : "silkit://localhost:8501";

  const std::string participant_config_text = R"(
  Description: My participant configuration
  Logging:
      Sinks:
      - Type: Stdout
        Level: Info
  )";
  auto config = SilKit::Config::ParticipantConfigurationFromString(participant_config_text);
  {% set participant_name = add_namespace_to_name(module.Name, module.Namespace) %}
  participant_ = SilKit::CreateParticipant(config, "{{ participant_name }}", registry_uri);

  {% for de in module.ModuleInterfaceRef.DataElements %}
  {% set data_type = data_type_to_str(de.TypeRef) %}
  {% set de_name = add_namespace_to_name(de.Name, module.ModuleInterfaceRef.Namespace) %}
  SilKit::Services::PubSub::PubSubSpec pubsubspec_{{ de_name }}{"{{ module.ModuleInterfaceRef.Name }}_{{ de.Name }}", "application/protobuf"};
  pubsubspec_{{ de_name }}.AddLabel("Instance", "{{ silkit_instance }}", {{ "SilKit::Services::MatchingLabel::Kind::Mandatory" if silkit_instance_is_optional in [False] else "SilKit::Services::MatchingLabel::Kind::Optional" }});
  {% if silkit_namespace is not none %}
  pubsubspec_{{ de_name }}.AddLabel.AddLabel("Namespace", "{{ silkit_namespace }}", {{ "SilKit::Services::MatchingLabel::Kind::Mandatory" if silkit_namespace_is_optional in [False] else "SilKit::Services::MatchingLabel::Kind::Optional" }});
  {% endif %}
  publisher_{{ de_name.replace("::","_") }}_= participant_->CreateDataPublisher("Publisher_{{ de_name.replace("::","_") }}", pubsubspec_{{ de_name.replace("::","_") }});

  {% endfor %}

  {% for op in module.ModuleInterfaceRef.Operations %}
  {% if module.ModuleInterfaceRef.Namespace != "" %}
  {% set op_name = module.ModuleInterfaceRef.Namespace + "::" + op.Name %}
  {% else %}
  {% set op_name = op.Name %}
  {% endif %}
  SilKit::Services::Rpc::RpcSpec rpcspec_{{ op_name.replace("::","_") }}{"{{ module.ModuleInterfaceRef.Name }}_{{ op.Name }}", "application/protobuf"};
  rpcspec_{{ op_name.replace("::","_") }}.AddLabel("Instance", "{{ silkit_instance }}", {{ "SilKit::Services::MatchingLabel::Kind::Mandatory" if silkit_instance_is_optional in [False] else "SilKit::Services::MatchingLabel::Kind::Optional" }});
  {% if silkit_namespace is not none %}
  rpcspec_{{ op_name.replace("::","_") }}.AddLabel("Namespace", "{{ silkit_namespace }}", {{ "SilKit::Services::MatchingLabel::Kind::Mandatory" if silkit_namespace_is_optional in [False] else "SilKit::Services::MatchingLabel::Kind::Optional" }});
  {% endif %}
  auto RemoteFunc_{{ op_name.replace("::","_") }} = [&](auto* server, const auto& event) {
    protobuf::interface::{{ module.ModuleInterfaceRef.Namespace }}::{{ module.ModuleInterfaceRef.Name }}::{{ op.Name }}_in deserialized;
    deserialized.ParseFromArray(event.argumentData.data(), event.argumentData.size());
    {% for p in op.Parameters if not p.is_direction_out %}
    {% set data_type = data_type_to_str(p.TypeRef) %}
    {{ data_type }} {{ p.Name }}{};
    {% endfor %}
  {% if op.has_any_parameter_in_inout %}
    protobuf::interface::{{ module.ModuleInterfaceRef.Namespace }}::{{ module.ModuleInterfaceRef.Name }}::{{ op.Name }}InProtoToVaf(deserialized, {{ get_in_parameter_list_comma_separated(op) }});
  {% endif %}
  {% if op.has_any_parameter_out_inout %}
    {{ operation_get_return_type(op, module.ModuleInterfaceRef) }} result;
  {% endif %}
    if (CbkFunction_{{ op_name.replace("::","_") }}_) {
  {% if op.has_any_parameter_out_inout %}
      result = CbkFunction_{{ op_name.replace("::","_") }}_(
  {%- for p in op.Parameters if not p.is_direction_out -%}
      {{ p.Name }}{% if not loop.last %}, {% endif %}
  {%- endfor -%}
  {% else %}
      CbkFunction_{{ op_name.replace("::","_") }}_(
  {%- for p in op.Parameters if not p.is_direction_out -%}
      {{ p.Name }}{% if not loop.last %}, {% endif %}
  {%- endfor -%}
  {%- endif -%}
      );
    }
    protobuf::interface::{{ module.ModuleInterfaceRef.Namespace }}::{{ module.ModuleInterfaceRef.Name }}::{{ op.Name }}_out request;
  {% if op.has_any_parameter_out_inout %}
    protobuf::interface::{{ module.ModuleInterfaceRef.Namespace }}::{{ module.ModuleInterfaceRef.Name }}::{{ op.Name }}OutVafToProto(result, request);
  {% endif %}
    size_t nbytes = request.ByteSizeLong();
    std::vector<std::uint8_t> serialized(nbytes);
    if (nbytes != 0u) {
      request.SerializeToArray(serialized.data(), nbytes);
    }
    server->SubmitResult(event.callHandle, serialized);
  };
  server_{{ op_name.replace("::","_") }}_= participant_->CreateRpcServer("{{ op_name }}", rpcspec_{{ op_name.replace("::","_") }}, RemoteFunc_{{ op_name.replace("::","_") }});

  {% endfor %}
  ReportOperational();
}

void {{ module.Name }}::Stop() noexcept {
}

void {{ module.Name }}::DeInit() noexcept {
}

{% for de in module.ModuleInterfaceRef.DataElements %}
{% set data_type = data_type_to_str(de.TypeRef) %}
{% if module.ModuleInterfaceRef.Namespace != "" %}
{% set de_name = module.ModuleInterfaceRef.Namespace + "::" + de.Name %}
{% else %}
{% set de_name = de.Name %}
{% endif %}
{{ interface.provider_data_element_allocate(de, module.Name ) }} {
  std::unique_ptr< {{ data_type }} > ptr{
      std::make_unique< {{ data_type }} >()};
  return ::vaf::Result<vaf::DataPtr< {{ data_type }} >>::FromValue(std::move(ptr));
}

{{ interface.provider_data_element_set_allocated(de, module.Name) }} {
  {% set data_type_def = get_data_type_definition_of_parameter(de.TypeRef, model) %}
  {% set data_type = data_type_to_str(de.TypeRef) %}
  protobuf::interface::{{ module.ModuleInterfaceRef.Namespace }}::{{ module.ModuleInterfaceRef.Name }}::{{ de.Name }} request;
  protobuf::interface::{{ module.ModuleInterfaceRef.Namespace }}::{{ module.ModuleInterfaceRef.Name }}::{{ de.Name }}VafToProto(*vaf::internal::DataPtrHelper<{{ data_type }}>::getRawPtr(data), request);
  size_t nbytes = request.ByteSizeLong();
  std::vector<std::uint8_t> serialized(nbytes);
  if (nbytes != 0u) {
    request.SerializeToArray(serialized.data(), nbytes);
  }
  publisher_{{ de_name.replace("::","_") }}_->Publish(serialized);

  return ::vaf::Result<void>{};
}

{{ interface.provider_data_element_set(de, module.Name) }} {
  {% set data_type_def = get_data_type_definition_of_parameter(de.TypeRef, model) %}
  protobuf::interface::{{ module.ModuleInterfaceRef.Namespace }}::{{ module.ModuleInterfaceRef.Name }}::{{ de.Name }} request;
  protobuf::interface::{{ module.ModuleInterfaceRef.Namespace }}::{{ module.ModuleInterfaceRef.Name }}::{{ de.Name }}VafToProto(data, request);
  size_t nbytes = request.ByteSizeLong();
  std::vector<std::uint8_t> serialized(nbytes);
  if (nbytes != 0u) {
    request.SerializeToArray(serialized.data(), nbytes);
  }
  publisher_{{ de_name.replace("::","_") }}_->Publish(serialized);

  return ::vaf::Result<void>{};
}
{% endfor %}

{% for op in module.ModuleInterfaceRef.Operations %}
{% if module.ModuleInterfaceRef.Namespace != "" %}
{% set op_name = module.ModuleInterfaceRef.Namespace + "::" + op.Name %}
{% else %}
{% set op_name = op.Name %}
{% endif %}
{{ interface.provider_operation(op, module.ModuleInterfaceRef, module.Name) }} {
  CbkFunction_{{ op_name.replace("::","_") }}_ = std::move(f);
}

{% endfor %}
{% endblock %}
